*.[oa]
*~
*.ex5
*.log
*.dat
Profiles/Charts/Default/
Profiles/Charts/Euro/
Profiles/Charts/Market Overview/
Profiles/Charts/British Pound/
Profiles/SymbolSets/
Profiles/Templates/ADX.tpl
Profiles/Templates/BollingerBands.tpl
Profiles/Templates/Momentum.tpl
Shared Projects/
Services/
Scripts/
Libraries/
Images/
Experts/Advisors/
Experts/Examples/
Experts/Free Robots/
Indicators/Examples/
Indicators/Free Indicators/
Include/Arrays/
Include/Canvas/
Include/ChartObjects/
Include/Charts/
Include/Controls/
Include/Expert/
Include/Files/
Include/Generic/
Include/Graphics/
Include/Indicators/
Include/Math/
Include/MovingAverages.mqh
Include/Object.mqh
Include/OpenCL/
Include/StdLibErr.mqh
Include/Strings/
Include/Tools/
Include/Trade/
Include/VirtualKeys.mqh
Include/WinAPI/
